<!-- <app-spinner *ngIf="!spinnerStatus"></app-spinner> -->

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="col-12 mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconCreateTask" class="icon-title"></fa-icon> Crear Tarea</h4>
            </div>

            <!--Seleccionar el tipo de recurso a subir-->
            <div class="row mt-4">
                <form [formGroup]="formSelect">
                    <div class="col-12 col-md-6 container-select-type-resource">
                        <label class="mb-1"><b>Seleccionar video existente</b></label>
                        <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example"
                            [(ngModel)]="optionSelected" formControlName="filtro">
                            <option value="video" selected>Estirar brazos arriba y abajo</option>
                            <option value="enlace">Estirar piernas arriba y abajo</option>
                            <option value="enlace">Levantar piernas hacia el pecho</option>
                        </select>
                    </div>
                </form>
            </div>

            <!--Form para subirla tarea-->
            <form class="row mt-2" [formGroup]="uploadTaskForm">
                <div class="row col-12 mb-3">
                    <div class="mb-3">
                        <label class="mb-1"><b>Título</b></label>
                        <input type="text" class="form-control form-control-lg bg-light fs-6" formControlName="title"
                            placeholder="Título*" [ngClass]="{
                                'is-invalid': uploadTaskForm.get('title')?.hasError('required') && uploadTaskForm.get('title')?.touched || uploadTaskForm.get('title')?.hasError('pattern'),
                                'is-valid': uploadTaskForm.get('title')?.value?.length >= 10 && uploadTaskForm.get('title')?.hasError('pattern') == false
                              }" [maxlength]="100">
                        <div class="validators"
                            *ngIf="uploadTaskForm.get('title')?.hasError('required') && uploadTaskForm.get('title')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators" *ngIf="uploadTaskForm.get('title')?.hasError('pattern')">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                    </div>
                </div>

                <div class="row col-12 mb-3">
                    <div class="mb-3 col-4">
                        <label class="mb-1"><b>Visibilidad</b></label>
                        <select class="form-select form-select-md" aria-label=".form-select-lg example"
                            [(ngModel)]="optionVisibilityTask" formControlName="visibility" [ngClass]="{
                                    'is-invalid': uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched,
                                    'is-valid': optionVisibilityTask === 'true' || optionVisibilityTask === 'false'
                                  }">
                            <option value="" selected>Seleccione una opción</option>
                            <option value="true">Público</option>
                            <option value="false">Privado</option>
                        </select>
                        <div class="validators"
                            *ngIf="uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                    <div class="mb-3 col-4">
                        <label class="mb-1"><b>Categoría</b></label>
                        <select class="form-select form-select-md" aria-label=".form-select-lg example"
                            [(ngModel)]="optionVisibilityTask" formControlName="visibility" [ngClass]="{
                                    'is-invalid': uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched,
                                    'is-valid': optionVisibilityTask === 'true' || optionVisibilityTask === 'false'
                                  }">
                            <option value="" selected>Seleccione una opción</option>
                            <option value="true">Terapia Ocupacional</option>
                            <option value="false">Terapia Psicológica</option>
                            <option value="false">Terapia de Lenguaje</option>
                            <option value="false">Terapia Física</option>
                            <option value="false">Terapia Cognitivo</option>
                        </select>
                        <div class="validators"
                            *ngIf="uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                    <div class="mb-3 col-4">
                        <label class="mb-1"><b>Tiempo estimado</b></label>
                        <input type="text" class="form-control form-control-lg bg-light fs-6" formControlName="title"
                            placeholder="Tiempo estimado*" [ngClass]="{
                                'is-invalid': uploadTaskForm.get('title')?.hasError('required') && uploadTaskForm.get('title')?.touched || uploadTaskForm.get('title')?.hasError('pattern'),
                                'is-valid': uploadTaskForm.get('title')?.value?.length >= 10 && uploadTaskForm.get('title')?.hasError('pattern') == false
                              }" [maxlength]="100">
                        <div class="validators"
                            *ngIf="uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                </div>
                <div class="row col-12 mb-3">
                    <div class="mb-3">
                        <label class="mb-1"><b>Descripción</b></label>
                        <textarea class="form-control form-control-lg bg-light fs-6" formControlName="description"
                            placeholder="Descripción*" rows="7" [ngClass]="{
                                    'is-invalid': uploadTaskForm.get('description')?.hasError('required') && uploadTaskForm.get('description')?.touched,
                                    'is-valid': uploadTaskForm.get('description')?.value?.length >= 10
                                  }" [maxlength]="250"></textarea>
                        <div class="validators"
                            *ngIf="uploadTaskForm.get('description')?.hasError('required') && uploadTaskForm.get('description')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                    <div class="action-buttons mb-3">
                        <button [routerLink]="'../my-tasks'" type="button" class="btn btn-danger btn-md">Cancelar</button>
                        <button type="button" class="btn btn-primary btn-md">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>