body {
    background-color: #FFF;
    height: auto;
    border-radius: 8px;
}

.div {
    display: flex;
    justify-content: space-between;
}

.div>button {
    border-radius: 50px;
}

.container-info {
    padding: .5rem 2rem;
}

.validators {
    color: #FC3B56;
}

.icon-title {
    color: #007BBD !important;
}

.action-buttons {
    text-align: end;
}

/*Botón aceptar (Guardar)*/
.btn-primary {
    border-radius: 50px;
    background-color: #007BBD !important;
    border-color: #007BBD !important;
}

.btn-primary:hover {
    background-color: #01659b !important;
    border-color: #01659b !important;
}

.btn-secondary, .btn-danger {
    margin-right: 10px;
    border-radius: 50px;
}

.btn-danger{
    background-color: #FC3B56 !important;
    border-color: #FC3B56 !important;
}

.btn-danger:hover{
    background-color: #f72944 !important;
    border-color: #f72944 !important;
}

/* Ajusta el ancho para la columna "URL" */
#htmlExcelTable td:nth-child(3),
#htmlExcelTable th:nth-child(3) {
  max-width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

/* Ajusta el ancho para la columna "URL" */
#htmlExcelTable td:nth-child(5),
#htmlExcelTable th:nth-child(5) {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

/*Responsive Web Design*/
@media screen and (max-width: 760px) {
    .button-back {
        text-align: end;
    }

    .action-buttons>button{
        width: 100%;
    }
}