<app-spinner *ngIf="!spinnerStatus"></app-spinner>
<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="col-12 mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconCreateTask" class="icon-title"></fa-icon> Crear tarea</h4>
            </div>

            <!--Seleccionar el tipo de recurso a subir-->
            <div class="row mt-4">
                <form [formGroup]="uploadTaskForm">
                    <div class="row col-12 col-md-6 container-select-type-resource">
                        <div class="mb-3">
                            <label class="mb-1"><b>Seleccionar video existente</b></label>
                            <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                [(ngModel)]="optionVideoSelected" formControlName="video" [ngClass]="{
                                        'is-invalid': uploadTaskForm.get('video')?.hasError('required') && uploadTaskForm.get('video')?.touched,
                                        'is-valid': optionVideoSelected!= ''
                                      }">
                                <option value="" selected>Seleccione una opción</option>
                                <option value="true">Video 1</option>
                                <option value="false">Video 2</option>
                                <option value="false">Video 3</option>
                                <option value="false">Tarea 4</option>
                            </select>
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('video')?.hasError('required') && uploadTaskForm.get('video')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Form para subirla tarea-->
            <div class="row mt-2">
                <form [formGroup]="uploadTaskForm">
                    <!--Título-->
                    <div class="row col-12 mb-3">
                        <div class="mb-3">
                            <label class="mb-1"><b>Título</b></label>
                            <input type="text" class="form-control form-control-lg bg-light fs-6"
                                formControlName="title" placeholder="Título*" [ngClass]="{
                                    'is-invalid': uploadTaskForm.get('title')?.hasError('required') && uploadTaskForm.get('title')?.touched || uploadTaskForm.get('title')?.hasError('pattern'),
                                    'is-valid': uploadTaskForm.get('title')?.value?.length >= 10 && uploadTaskForm.get('title')?.hasError('pattern') == false
                                  }" [maxlength]="100">
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('title')?.hasError('required') && uploadTaskForm.get('title')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                            <div class="validators" *ngIf="uploadTaskForm.get('title')?.hasError('pattern')">
                                <small>¡Solo se permiten letras!</small>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 mb-3">
                        <!--Visibilidad-->
                        <div class="mb-3 col-12 col-md-4">
                            <label class="mb-1"><b>Visibilidad</b></label>
                            <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                [(ngModel)]="optionVisibilitySelected" formControlName="visibility" [ngClass]="{
                                        'is-invalid': uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched,
                                        'is-valid': optionVisibilitySelected!= ''
                                      }">
                                <option value="" selected>Seleccione una opción</option>
                                <option value="true">Público</option>
                                <option value="false">Privado</option>
                            </select>
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('visibility')?.hasError('required') && uploadTaskForm.get('visibility')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                        <!--Categoría-->
                        <div class="mb-3 col-12 col-md-4">
                            <label class="mb-1"><b>Categoría</b></label>
                            <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                [(ngModel)]="optionCategorySelected" formControlName="category" [ngClass]="{
                                        'is-invalid': uploadTaskForm.get('category')?.hasError('required') && uploadTaskForm.get('category')?.touched,
                                        'is-valid': optionCategorySelected!= ''
                                      }">
                                <option value="" selected>Seleccione una opción</option>
                                <option value="true">Terapia Ocupacional</option>
                                <option value="false">Terapia Psicológica</option>
                                <option value="false">Terapia de Lenguaje</option>
                                <option value="false">Terapia Física</option>
                                <option value="false">Terapia Cognitivo</option>
                            </select>
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('category')?.hasError('required') && uploadTaskForm.get('category')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                        <!--Tiempo estimado-->
                        <div class="mb-3 col-12 col-md-4">
                            <label class="mb-1"><b>Tiempo estimado (Minutos)</b></label>
                            <input type="text" class="form-control form-control-lg bg-light fs-6"
                                formControlName="timeEstimated" placeholder="Tiempo estimado*" [ngClass]="{
                                    'is-invalid': uploadTaskForm.get('timeEstimated')?.hasError('required') && uploadTaskForm.get('timeEstimated')?.touched || uploadTaskForm.get('timeEstimated')?.hasError('pattern'),
                                    'is-valid': uploadTaskForm.get('timeEstimated')?.value?.length >= 1 && uploadTaskForm.get('timeEstimated')?.hasError('pattern') == false
                                  }" [maxlength]="2">
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('timeEstimated')?.hasError('required') && uploadTaskForm.get('timeEstimated')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('timeEstimated')?.hasError('pattern')">
                                <small>¡Solo se permiten números!</small>
                            </div>
                        </div>
                    </div>
                    <!--Descripcipon (pasos)-->
                    <div class="row col-12 mb-3">
                        <div class="mb-3">
                            <label class="mb-1"><b>Descripción (Pasos a seguir)</b></label>
                            <textarea class="form-control form-control-lg bg-light fs-6" formControlName="description"
                                placeholder="Descripción*" rows="7" [ngClass]="{
                                        'is-invalid': uploadTaskForm.get('description')?.hasError('required') && uploadTaskForm.get('description')?.touched,
                                        'is-valid': uploadTaskForm.get('description')?.value?.length >= 10
                                      }" [maxlength]="250"></textarea>
                            <div class="validators"
                                *ngIf="uploadTaskForm.get('description')?.hasError('required') && uploadTaskForm.get('description')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                        <div class="action-buttons mb-3">
                            <button [disabled]="!uploadTaskForm.valid" type="button" class="btn btn-primary btn-md">Aceptar</button>
                            <button [routerLink]="'../my-tasks'" type="button"
                                class="btn btn-danger btn-md">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>