<app-spinner *ngIf="!spinnerStatus"></app-spinner>
<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="col-12 mt-3 mx-1" *ngIf="viewInModal">
                <h4 id="titulo"><fa-icon [icon]="iconVideo" class="icon-title"></fa-icon> Subir video</h4>
            </div>

            <div class="row mx-1 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                  </svg>
                  
                  <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <div>
                      Para mejor visualización y facilidad para sus pacientes, se recomienda subir videos de YouTube, es decir, videos de tipo enlace.
                    </div>
                  </div>
            </div>

            <!--Seleccionar el tipo de recurso a subir-->
            <div class="row mt-2">
                <form [formGroup]="formSelect">
                    <div class="col-12 col-md-6 container-select-type-resource">
                        <label class="mb-1"><b>Seleccione el tipo de recurso</b></label>
                        <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example"
                            [(ngModel)]="optionSelected" formControlName="filtro">
                            <option value="video" selected>Video local</option>
                            <option value="enlace">Enlace Youtube</option>
                        </select>
                    </div>
                </form>
            </div>
            
            <!--Form para subir video local-->
            <ng-container *ngIf="optionSelected == 'video' else enlaceYouTube">
                <form class="row mt-2" [formGroup]="uploadVideoForm">
                    <div class="mb-3">
                        <label class="mb-1"><b>Título</b></label>
                        <input type="text" class="form-control form-control-lg bg-light fs-6" formControlName="title"
                            placeholder="Título*" [ngClass]="{
                                'is-invalid': uploadVideoForm.get('title')?.hasError('required') && uploadVideoForm.get('title')?.touched || uploadVideoForm.get('title')?.hasError('pattern'),
                                'is-valid': uploadVideoForm.get('title')?.value?.length >= 10 && uploadVideoForm.get('title')?.hasError('pattern') == false
                              }" [maxlength]="100">
                        <div class="validators"
                            *ngIf="uploadVideoForm.get('title')?.hasError('required') && uploadVideoForm.get('title')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators" 
                            *ngIf="uploadVideoForm.get('title')?.hasError('pattern')">
                            <small>¡Solo se permiten letras!</small>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="mb-1"><b>Adjuntar un video</b></label>
                        <div class="container-video" id="container-video">
                            <input type="file" id="file" (change)="onVideoSelected($event)" accept=".mp4" hidden formControlName="video">
                            <div class="video-area" data-video="">
                                <fa-icon [icon]="iconUploadVideo" id="iconUpload"></fa-icon>
                                <h4>Subir video</h4>
                                <p>Suba un video en formato .mp4 con un tamaño máximo de 20MB</p>
                            </div>
                            <div class="validators"
                                *ngIf="uploadVideoForm.get('video')?.hasError('required') && uploadVideoForm.get('video')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">             
                        <div class="mb-3">
                            <label class="mb-1"><b>Visibilidad</b></label>
                            <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                [(ngModel)]="optionVisibilityVideo" formControlName="visibility" [ngClass]="{
                                    'is-invalid': uploadVideoForm.get('visibility')?.hasError('required') && uploadVideoForm.get('visibility')?.touched,
                                    'is-valid': optionVisibilityVideo === 'true' || optionVisibilityVideo === 'false'
                                  }">
                                <option value="" selected>Seleccione una opción</option>
                                <option value="true">Público</option>
                                <option value="false">Privado</option>
                            </select>
                            <div class="validators"
                                *ngIf="uploadVideoForm.get('visibility')?.hasError('required') && uploadVideoForm.get('visibility')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="mb-1"><b>Descripción</b></label>
                            <textarea class="form-control form-control-lg bg-light fs-6" formControlName="description"
                                placeholder="Descripción*" rows="7" [ngClass]="{
                                    'is-invalid': uploadVideoForm.get('description')?.hasError('required') && uploadVideoForm.get('description')?.touched,
                                    'is-valid': uploadVideoForm.get('description')?.value?.length >= 10
                                  }" [maxlength]="500"></textarea>
                            <div class="validators"
                                *ngIf="uploadVideoForm.get('description')?.hasError('required') && uploadVideoForm.get('description')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="action-buttons mb-3">
                    <button (click)="registerVideo()" type="button" class="btn btn-primary btn-md"
                    [disabled]="uploadVideoForm.invalid">Aceptar</button>
                    <button [routerLink]="'../list-videos'" type="button" class="btn btn-danger btn-md" *ngIf="!viewInModal">Cancelar</button>
                </div>
            </ng-container>

            <!--Fomr para subir enlace-->
            <ng-template #enlaceYouTube>
                <form [formGroup]="uploadLinkForm">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="mb-1"><b>Título</b></label>
                                <input type="text" class="form-control form-control-lg bg-light fs-6" formControlName="title"
                                    placeholder="Título*" [ngClass]="{
                                        'is-invalid': uploadLinkForm.get('title')?.hasError('required') && uploadLinkForm.get('title')?.touched || uploadLinkForm.get('title')?.hasError('pattern'),
                                        'is-valid': uploadLinkForm.get('title')?.value?.length >= 10 && uploadLinkForm.get('title')?.hasError('pattern') == false
                                      }" [maxlength]="100">
                                <div class="validators"
                                    *ngIf="uploadLinkForm.get('title')?.hasError('required') && uploadLinkForm.get('title')?.touched">
                                    <small>¡Este campo es requerido!</small>
                                </div>
                                <div class="validators" 
                                    *ngIf="uploadLinkForm.get('title')?.hasError('pattern')">
                                    <small>¡Solo se permiten letras!</small>
                                  </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <label class="mb-1"><b>Visibilidad</b></label>
                                <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                    [(ngModel)]="optionVisibilityLink" formControlName="visibility" [ngClass]="{
                                        'is-invalid': uploadLinkForm.get('visibility')?.hasError('required') && uploadLinkForm.get('visibility')?.touched,
                                        'is-valid': optionVisibilityLink === 'true' || optionVisibilityLink === 'false'
                                      }">
                                    <option value="" selected>Seleccione una opción</option>
                                    <option value="true">Público</option>
                                    <option value="false">Privado</option>
                                </select>
                                <div class="validators"
                                    *ngIf="uploadLinkForm.get('visibility')?.hasError('required') && uploadLinkForm.get('visibility')?.touched">
                                    <small>¡Este campo es requerido!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="mb-3">
                                <label class="mb-1"><b>Enlace de YouTube</b></label>
                                <input class="form-control form-control-lg bg-light fs-6" formControlName="description"
                                    placeholder="Enlace de YouTube*" formControlName="link" [ngClass]="{
                                        'is-invalid': uploadLinkForm.get('link')?.hasError('required') && uploadLinkForm.get('link')?.touched || uploadLinkForm.get('link')?.hasError('pattern'),
                                        'is-valid': uploadLinkForm.get('link')?.valid
                                    }">
                                <div class="validators"
                                    *ngIf="uploadLinkForm.get('link')?.hasError('required') && uploadLinkForm.get('link')?.touched">
                                    <small>¡Este campo es requerido!</small>
                                </div>
                                <div class="validators" *ngIf="uploadLinkForm.get('link')?.hasError('pattern')">
                                    <small>¡El texto ingresado no contiene formato de enlace!</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="mb-1"><b>Descripción</b></label>
                            <textarea class="form-control form-control-lg bg-light fs-6" formControlName="description"
                                placeholder="Descripción*" rows="6"  [ngClass]="{
                                    'is-invalid': uploadLinkForm.get('description')?.hasError('required') && uploadLinkForm.get('description')?.touched,
                                    'is-valid': uploadLinkForm.get('description')?.value?.length >= 10
                                  }" [maxlength]="500"></textarea>
                            <div class="validators"
                                *ngIf="uploadLinkForm.get('description')?.hasError('required') && uploadLinkForm.get('description')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="action-buttons mb-3">
                    <button (click)="registerVideoLink()" type="button" class="btn btn-primary btn-md"
                    [disabled]="uploadLinkForm.invalid">Aceptar</button>
                    <button [routerLink]="'../list-videos'" type="button" class="btn btn-danger btn-md" *ngIf="!viewInModal">Cancelar</button>
                </div>
            </ng-template>
        </div>
    </div>
</body>