<body>
    <!--SideBar-->
    <section id="sidebar">
        <a href="#" class="brand mt-1"> <img src="../../../../../assets/logos/logo-teraflex.png" alt="img-profile"> TeraFlex</a>
        <ul class="side-menu">
            <li><a href="#" class="active"><fa-icon class="icon" [icon]="iconHome"></fa-icon> Inicio</a></li>
            <li>
                <a href="#"><fa-icon class="icon" [icon]="iconTasks"></fa-icon> Tareas <fa-icon class="icon-right"
                        [icon]="iconArrowDown"></fa-icon></a>
                <ul class="side-dropdown">
                    <li><a (click)="changeIndexOptionMenu(1)"><fa-icon class="icon" [icon]="iconMyTasks"></fa-icon> Mis tareas</a></li>
                    <li><a (click)="changeIndexOptionMenu(2)"><fa-icon class="icon" [icon]="iconAsignTasks"></fa-icon> Asignar tareas</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><fa-icon class="icon" [icon]="iconPatients"></fa-icon> Pacientes <fa-icon class="icon-right"
                        [icon]="iconArrowDown"></fa-icon></a>
                <ul class="side-dropdown">
                    <li><a (click)="changeIndexOptionMenu(3)"><fa-icon class="icon" [icon]="iconPatients"></fa-icon> Mis pacientes</a></li>
                    <li><a (click)="changeIndexOptionMenu(4)"><fa-icon class="icon" [icon]="iconRegisterPatient"></fa-icon> Registrar paciente</a></li>
                </ul>
            </li>
            <li><a (click)="changeIndexOptionMenu(5)"><fa-icon class="icon" [icon]="iconHelp"></fa-icon> Ayuda</a></li>
            <li><a (click)="changeIndexOptionMenu(6)"><fa-icon class="icon" [icon]="iconInformation"></fa-icon> Acerca de</a></li>
        </ul>
    </section>

    <!--NavBar-->
    <section id="content">
        <nav>
            <fa-icon class="toggle-sidebar" [icon]="iconBars"></fa-icon>
            <form action="#">
                <!-- <div class="form-group">
                    <input type="text" placeholder="Buscar...">
                    <fa-icon class="icon" [icon]="iconSearch"></fa-icon>
                </div> -->
            </form>
            <a href="#" class="nav-link">
                <fa-icon class="icon" [icon]="iconBell"></fa-icon>
                <span class="badge">5</span>
            </a>
            <span class="divider"></span>
            <div class="profile">
                <img src="../../../../../assets/pictures/user-profile.jpg" alt="img-profile">
                <ul class="profile-link">
                    <li><a href="#"><fa-icon [icon]="iconProfile"></fa-icon> Mi perfil</a></li>
                    <li><a href="#"><fa-icon [icon]="iconSettings"></fa-icon> Configuración</a></li>
                    <li><a href="#"><fa-icon [icon]="iconLogOut"></fa-icon> Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>

        <!--Contenedor del dashboard-->
        <main [ngSwitch]="optionMenu">
            <h3><b>Hola, terapeuta {{userName}}</b></h3>
            <div>
                <app-options-home *ngSwitchCase="0"></app-options-home>
                <app-my-tasks *ngSwitchCase="1"></app-my-tasks> 
                <app-assign-tasks *ngSwitchCase="2"></app-assign-tasks>
                <app-my-patients *ngSwitchCase="3"></app-my-patients>
                <app-register-patient *ngSwitchCase="4"></app-register-patient> 
                <app-tutorial-videos *ngSwitchCase="5"></app-tutorial-videos> 
            </div>
            <ng-template #administrator>
            </ng-template>
        </main>
    </section>
</body>