<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row vh-100 body" style="overflow: hidden;">
        <app-info-login class="col-md-7"></app-info-login>

        <!-------------------- ------ Form Login ---------------------------->
        <div class="col-md-5 right-content d-flex justify-content-center align-items-center">
            <div class="row align-items-center">
                <div class="header-text mb-5">
                    <h1 class="text-center">Inicio de sesión</h1>
                </div>

                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label class="mb-1"><b>Usuario</b></label>
                        <input type="text" class="form-control form-control-lg bg-light fs-6"
                            formControlName="identification" placeholder="Usuario*">
                    </div>
                    <div class="mb-5">
                        <label class="mb-1"><b>Contraseña</b></label>
                        <div class="input-group">
                            <input type="{{getPasswordInputType()}}" class="form-control form-control-lg bg-light fs-6"
                                formControlName="password" placeholder="Contraseña*">
                            <span class="input-group-text" id="basic-addon1" (click)="togglePasswordVisibility()">
                                <fa-icon [icon]="showPassword  ? iconHidePassword: iconViewPassword"></fa-icon>
                            </span>
                        </div>
                    </div>

                    <div class="content-buttons">
                        <button type="button" class="mb-3 btn btn-lg btn-primary w-100 fs-6"
                            (click)="loginUser(modalAlertChangePassword)">Iniciar sesión</button>
                        <button type="button" (click)="goToForgotPassword(forgotPassword)"
                            class="btn btn-lg btn-outline-primary w-100 fs-6"><small> <fa-icon
                                    [icon]="iconForgotPassword"></fa-icon> Olvidé la contraseña</small></button>
                    </div>

                    <div class="row text-center mt-5 no-account">
                        <a class="mx-3" (click)="openModalNoAccount(noAccount)">¿No tienes una cuenta?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<!--Modal para mostrar mensaje por si no tiene cuenta-->
<ng-template #noAccount>
    <app-no-account></app-no-account>
</ng-template>

<!--Modal para mostrar mensaje por si olvidó la contraseña-->
<ng-template #forgotPassword>
    <app-forgot-password></app-forgot-password>
</ng-template>

<!--Modal para mostrar la alerta de la primera vez que inicia sesión-->
<ng-template #modalAlertChangePassword>
    <app-warning-change-password></app-warning-change-password>
</ng-template>