<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div col-12 mt-3 mx-1">
                <h4 id="title"><fa-icon [icon]="iconListAlt" class="icon-title"></fa-icon> Tratamientos
                </h4>
                <button type="button"
                    class="btn btn-primary btn-sm"
                    [routerLink]="'../register-treatment'" >
                    <fa-icon [icon]="iconAdd"></fa-icon> Nuevo tratamiento</button>
            </div>

            <!--Formulario para buscar paciente y filtrar tareas-->
            <form [formGroup]="patientForm" class="row mt-2">
                <!--Apellidos (Buscar)-->
                <div class="col-10 col-md-5 mb-3">
                    <label class="mb-1"><b>Nombres y Apellidos</b></label>
                    <input type="text" placeholder="Buscar..." [matAutocomplete]="auto"
                        class="form-control form-control-lg bg-light fs-6" (focus)="onFocus()"
                        (input)="onSearch($event)" formControlName="names" />
                    <mat-autocomplete #auto="matAutocomplete"
                        [ngClass]="{
                        'is-invalid': patientForm.get('names')?.hasError('required') && patientForm.get('names')?.touched || patientForm.get('names')?.hasError('pattern')}">
                        <mat-option *ngFor="let patientName of filteredPatientsNames"
                            [value]="patientName.firstName+ ' ' + patientName.lastName"
                            (click)="getTreatments(patientName.id)">
                            {{ patientName.firstName + ' ' + patientName.lastName }}
                            <app-badge-ui>{{ patientName.docNumber }}</app-badge-ui>
                        </mat-option>
                        <mat-option *ngIf="filteredPatientsNames.length === 0" [value]="'Sin resultados'">
                            Sin resultados...
                        </mat-option>
                    </mat-autocomplete>
                    <div class="validators" *ngIf="patientForm.get('names')?.hasError('pattern')">
                        <small>¡Solo se permiten letras!</small>
                    </div>
                </div>
               <!--  <div class="col-2 mt-4 icon-info">
                    <fa-icon [icon]="iconInformation"></fa-icon>
                </div> -->
            </form>

            <!--Tabla con la lista de las tareas asignadas-->
            <div class="card" id="htmlTablePDF">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative;">
                    <table class="table table-striped mb-0" id="htmlExcelTable">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Título</th>
                                <th scope="col">Fecha de inicio</th>
                                <th scope="col">Fecha de finalización</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="arrayTreatments.length > 0; else noResults">
                                <tr *ngFor="let treatment of arrayTreatments | slice:initialPage:finalPage; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td data-bs-toggle="mensaje" title="{{treatment.title}}">
                                        {{treatment.title}}
                                    </td>
                                    <td data-bs-toggle="mensaje" title="{{treatment.startDate}}">
                                        {{treatment.startDate}}
                                    </td>
                                    <td data-bs-toggle="mensaje" title="{{treatment.endDate}}">
                                        {{treatment.endDate !== null ? treatment.endDate : '--'}}
                                    </td>
                                    <td data-bs-toggle="mensaje" title="{{treatment.isActive}}">
                                        <span
                                            [style.background-color]="treatment.endDate!==null ? '#007BBD' : treatment.isActive ? '#198754' : '#DC3545'"
                                            [style.border-radius]="'5px'"
                                            [style.padding]="'3px'"
                                            [style.color]="treatment.endDate!==null || treatment.isActive ? 'white' : 'black'"
                                        >{{ treatment.endDate!==null ? 'Finalizado' : treatment.isActive ? 'Activado' : 'Desactivado'}}
                                        </span>
                                    </td>
                                    <td class="acciones">
                                        <!-- Botón para ver el detalle del tratamiento -->
                                        <fa-icon 
                                            (click)="openModalViewDetailTreatment(viewTreatment, treatment.id)"
                                            data-bs-toggle="mensaje" title="Ver detalles" id="iconVerDetalles"
                                            [icon]="iconViewDetails"></fa-icon>
                                        <!-- Botón para finalizar el tratamiento -->
                                        <fa-icon 
                                            (click)="showAlertEndTreatment(treatment.id)"
                                            data-bs-toggle="mensaje" title="Finalizar tratamiento" id="iconFinalizar"
                                            [icon]="iconFinish"></fa-icon>
                                            <!-- Checkbox para desactivar el tratamiento -->
                                        <fa-icon 
                                            (click)="showAlertToggleTreatment(treatment.id)"
                                            data-bs-toggle="mensaje" [title]="treatment.isActive ? 'Desactivar' : 'Activar'"
                                            id="iconEliminar"
                                            [icon]="treatment.isActive?iconDesactivate:iconActivate"></fa-icon>
                                        <!-- Botón para editar datos del tratamiento -->
                                        <fa-icon
                                            (click)="navigateToEditTreatment(treatment.id)"
                                            data-bs-toggle="mensaje" title="Editar tratamiento" id="iconEditar"
                                            [icon]="iconEdit"></fa-icon>
                                    </td>
                                </tr>
                            </ng-container>
                            <!--Para cuando no cargue la data-->
                            <ng-template #noResults>
                                <tr>
                                    <td colspan="7" class="no-results">Sin resultados...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Paginación-->
            <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="itemsForPage"
                [length]="arrayTreatments.length" (page)="changePage($event)"></mat-paginator>
        </div>
    </div>
</body>

<!--Modal para ver lel detalle de la tarea asignada-->
<ng-template #viewTreatment>
    <app-view-detail-treatment></app-view-detail-treatment>
</ng-template>