<div class="container">
    <div class="modal-header">
        <h4 class="modal-title"><fa-icon [icon]="iconInformation"></fa-icon> Más información</h4>
        <button (click)="modal.dismissAll()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body mt-3 mb-5">
        <div class="row container-options">
            <button class="col-6 mb-3 option-create" (click)="goToCreditsInfo()">
                <fa-icon [icon]="iconQuestion"></fa-icon>
                <h5>Créditos y Acerca de</h5>
            </button>
            <button class="col-6 mb-3 option-link" (click)="openYouTubePlaylist()">
                <fa-icon [icon]="iconYoutube"></fa-icon>
                <h5>Videos explicativos</h5>
            </button>    
            <button class="col-6 option-link" (click)="downloadAPK()">
                <i class="fa-brands fa-android" id="appMobile"></i>
                <h5>Descargar aplicación móvil</h5>
            </button>            
        </div>
    </div>
</div>