body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-content {
    background-color: #007BBD;
}

.content-image img {
    width: 220px;
}

.title,
.description {
    width: 80%;
    font-family: sans-serif;
    color: white;
}

.content-image-institutions{
    width:90px;
}

@media only screen and (max-width: 768px) {
    .logo-institutions{
        display: none;
    }
}