<!--------------------------- Left content (Info Login) ----------------------------->
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center flex-column left-content">
        <div class="content-image mb-3">
            <img src="../../../../../assets/logos/logo-teraflex.png" class="img-fluid">
        </div>
        <p class="text-center title fs-1"><b>TeraFlex</b></p>
        <p class="text-center description">Aplicación que brinda apoyo en terapias a pacientes de la ciudad de Quevedo, procurando aportar a la mejora de su desempeño, junto al acompañamiento de terapeutas especializados.</p>
    
        <div class="row mt-3 mb-5 logo-institutions">
            <div class="col-md-3 d-flex align-items-center">
                <div class="content-image-institutions mb-3">
                    <img src="../../../../../assets/logos/logo-gad-quevedo.png" class="img-fluid" alt="logo-GAD-Quevedo">
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <div class="content-image-institutions mb-3">
                    <img src="../../../../../assets/logos/logo-DGDS.png" class="img-fluid" alt="logo-DGDSQ">
                </div>
            </div>
           
            <div class="col-md-3 d-flex align-items-center">
                <div class="content-image-institutions mb-3">
                    <img src="../../../../../assets/logos/logo-software.png" class="img-fluid" alt="logo-carrera-software">
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <div class="content-image-institutions mb-3">
                    <img src="../../../../../assets/logos/logo-UTEQ.png" class="img-fluid" alt="logo-UTEQ">
                </div>
            </div>
           
        </div>
        

        <p class="text-white location-mobile">Quevedo - Ecuador</p>
    </div>
</body>