<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconMyPatients" class="icon-title"></fa-icon> Mis pacientes</h4>
                <button (click)="openModalSelectOptionRegisterPatient(optionsRegisterPatient)" type="button"
                    class="btn btn-primary btn-sm">
                    <fa-icon [icon]="iconAdd"></fa-icon> Nuevo paciente</button>
            </div>
            <br />

            <!--Inputs para buscar e importar-->
            <div class="row">
                <!--Para filtrar por activos o inactivos-->
                <div class="col-12 col-md-3 col-lg-3">
                    <form>
                        <select class="form-select" aria-label="Default select example" style="margin-bottom: 12px;"
                            (change)="onFilterChange($event)">
                            <option value="true" selected>Vinculados</option>
                            <option value="false">Desvinculados</option>
                        </select>
                    </form>
                </div>
                <!--Buscar paciente por nombre-->
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <form>
                        <input class="form-control me-1" type="text" placeholder="Buscar..." name="buscarMovimientos"
                            [(ngModel)]="patientsToSearch">
                    </form>
                </div>
                <!--Importar los datos de la tabla-->
                <div class="col-12 col-md-5 col-lg-5 export-buttons mb-3">
                    <button (click)="downloadPDF()" type="button" class="btn save-pdf" data-bs-toggle="mensaje"
                        title="Exportar a PDF">
                        <fa-icon [icon]="iconPdf"></fa-icon>
                    </button>
                    <button (click)="downloadXLSX()" type="button" class="btn save-xlsx" data-bs-toggle="mensaje"
                        title="Exportar a XLSX">
                        <fa-icon [icon]="iconXlsx"></fa-icon>
                    </button>
                </div>
            </div>

            <div class="card" id="htmlTablePDF">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative;">
                    <table class="table table-striped mb-0" id="htmlExcelTable">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Edad</th>
                                <th scope="col" *ngIf="!statusPatients">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="arrayMyPatients.length > 0; else noResults">
                                <tr
                                    *ngFor="let patient of arrayMyPatients | slice:initialPage:finalPage | searchPatients:patientsToSearch:optionFilter; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{patient.patient.docNumber}}</td>
                                    <td>{{patient.patient.firstName}}</td>
                                    <td>{{patient.patient.lastName}}</td>
                                    <td>{{patient.patient.phone}}</td>
                                    <td>{{ calculateAge(patient.patient.birthDate)}} años</td>
                                    <td *ngIf="!statusPatients">
                                        <div class="patientStatus"
                                            [style.background-color]="patient.patient.status ? '#198754' : '#ccc'"
                                            [style.border-radius]="patient.patient.status ? '5px' : '5px'"
                                            [style.padding]="patient.patient.status ? '3px' : '3px'"
                                            [style.color]="patient.patient.status ? 'white' : 'black'">
                                            {{patient.patient.status? "Activo" : "Inactivo"}}
                                        </div>
                                    </td>
                                    <td class="acciones">
                                        <fa-icon
                                            (click)="showAlertGeneratePassword(patient.patient.id, patient.patient.firstName + ' ' + patient.patient.lastName, modalGenerateNewPassword)"
                                            data-bs-toggle="mensaje" title="Generar contraseña"
                                            id="iconGeneratePassword" *ngIf="statusPatients"
                                            [icon]="iconGeneratePassword"></fa-icon>
                                        <fa-icon
                                            (click)="openModalViewPatientDetail(viewPatientDetail, patient.patient.id)"
                                            data-bs-toggle="mensaje" title="Ver detalles" id="iconVerDetalles"
                                            [icon]="iconViewDetail"></fa-icon>
                                        <fa-icon (click)="goToEditPatient(patient.patient)" data-bs-toggle="mensaje"
                                            title="Editar" id="iconEditar" *ngIf="statusPatients"
                                            [icon]="iconEdit"></fa-icon>
                                        <fa-icon
                                            (click)="activateOrDesactivatePatient(patient.patient.id, patient.patient.firstName + ' ' + patient.patient.lastName, statusPatients ? 'Desactivar' : 'Activar')"
                                            data-bs-toggle="mensaje" [title]="statusPatients ? 'Desactivar' : 'Activar'"
                                            id="iconEliminar"
                                            [icon]="statusPatients?iconDesactivate:iconActivate" *ngIf="!patient.patient.status || statusPatients"></fa-icon>
                                        <fa-icon
                                            (click)="unBindPatient(patient.patient.id, patient.patient.firstName + ' ' + patient.patient.lastName, statusPatients?'Desvincular':'Vincular')"
                                            data-bs-toggle="mensaje"[title]="statusPatients ? 'Desvincular paciente' : 'Vincular paciente'" id="iconUnBind"
                                            [icon]="statusPatients?iconUnBindPatient:iconBindPatient" *ngIf="patient.patient.status"></fa-icon>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noResults>
                                <tr>
                                    <td colspan="7" class="no-results">Sin resultados...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Paginación-->
            <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="itemsForPage"
                [length]="arrayMyPatients.length" (page)="changePage($event)"></mat-paginator>
        </div>
    </div>
</body>

<!--Modal para ver la información detallada del paciente-->
<ng-template #viewPatientDetail>
    <app-view-my-patients></app-view-my-patients>
</ng-template>

<!--Modal para seleccionar si registrar desde 0 o vincular un paciente existente-->
<ng-template #optionsRegisterPatient>
    <app-create-or-link-my-patients></app-create-or-link-my-patients>
</ng-template>

<!--Modal para generar una nueva contraseña al paciente-->
<ng-template #modalGenerateNewPassword>
    <app-generate-new-password></app-generate-new-password>
</ng-template>