<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconMyPatients" class="icon-title"></fa-icon> Mis pacientes</h4>
                <button (click)="openModalSelectOptionRegisterPatient(optionsRegisterPatient)" type="button"
                    class="btn btn-primary btn-sm">
                    <fa-icon [icon]="iconAdd"></fa-icon> Nuevo paciente</button>
            </div>
            <br />
            <div class="parent-container">
                <div class="inputs-form">
                    <form id="search">
                        <input class="form-control me-1" type="text" placeholder="Buscar..." name="buscarMovimientos"
                            [(ngModel)]="patientsToSearch">
                    </form>

                    <!--Botones para exportar en .pdf y .xlsx-->
                    <div class="export-buttons mb-3">
                        <button (click)="downloadPDF()" type="button" class="btn save-pdf" data-bs-toggle="mensaje"
                            title="Exportar a PDF">
                            <fa-icon [icon]="iconPdf"></fa-icon>
                        </button>
                        <button (click)="downloadXLSX()" type="button" class="btn save-xlsx" data-bs-toggle="mensaje"
                            title="Exportar a XLSX">
                            <fa-icon [icon]="iconXlsx"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card" id="htmlTablePDF">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative;">
                    <table class="table table-striped mb-0" id="htmlExcelTable">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="arrayMyPatients.length > 0; else noResults">
                                <tr
                                    *ngFor="let patient of arrayMyPatients | slice:initialPage:finalPage | searchRegisters:patientsToSearch:optionFilter; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{patient.docNumber}}</td>
                                    <td>{{patient.firstName}}</td>
                                    <td>{{patient.lastName}}</td>
                                    <td>{{patient.phone}}</td>
                                    <td>{{ calculateAge(patient.birthDate)}} años</td>
                                    <td class="acciones">
                                        <fa-icon data-bs-toggle="mensaje" title="Desvincular paciente" id="iconUnBind"
                                            [icon]="iconUnBindPatient"></fa-icon>
                                        <fa-icon (click)="openModalViewPatientDetail(viewPatientDetail, patient.id)"
                                            data-bs-toggle="mensaje" title="Ver detalles" id="iconVerDetalles"
                                            [icon]="iconViewDetail"></fa-icon>
                                        <fa-icon (click)="goToEditPatient(patient)" data-bs-toggle="mensaje"
                                            title="Editar" id="iconEditar" [icon]="iconEdit"></fa-icon>
                                        <fa-icon
                                            (click)="deletePatient(patient.id, patient.firstName + ' ' + patient.lastName)"
                                            data-bs-toggle="mensaje" title="Eliminar" id="iconEliminar"
                                            [icon]="iconDelete"></fa-icon>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noResults>
                                <tr>
                                    <td colspan="7" class="no-results">Sin resultados...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Paginación-->
            <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="itemsForPage"
                [length]="arrayMyPatients.length" (page)="changePage($event)"></mat-paginator>
        </div>
    </div>
</body>

<ng-template #viewPatientDetail>
    <app-view-my-patients></app-view-my-patients>
</ng-template>

<ng-template #optionsRegisterPatient>
    <app-create-or-link-my-patients></app-create-or-link-my-patients>
</ng-template>