<div class="container-fluid">
    <div class="row bg-white shadow box-area">
        <!--------------------------- Left content ----------------------------->
        <div class="col-md-7 d-flex justify-content-center align-items-center flex-column left-content">
            <div class="content-image mb-3">
                <img src="../../../../../assets/logos/logo-teraflex.png" class="img-fluid">
            </div>
            <p class="text-center title fs-1"><b>TeraFlex</b></p>
            <p class="text-center description">TeraFlex, una aplicación que brinda apoyo a las personas con discapacidades físicas con el objetivo de mejorar su
                desempeño físico gracias a la guía de terapistas especializados en cada área.</p>

            <p class="text-white location mb-5">Quevedo - Ecuador</p>
        </div>


        <!-------------------- ------ Right content ---------------------------->
        <div class="col-md-5 right-content d-flex justify-content-center align-items-center">
            <div class="row align-items-center">
                <div class="header-text mb-5">
                    <h1 class="text-center">Inicio de sesión</h1>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
                    <div class="mb-3">
                        <label class="mb-1">Usuario</label>
                        <input formControlName="identification" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Usuario*">
                    </div>
                    <div class="mb-5">
                        <label class="mb-1">Contraseña</label>
                        <input formControlName="password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña*">
                    </div>
                
                    <div class="content-buttons">
                        <button class="mb-3 btn btn-lg btn-primary w-100 fs-6" type="submit">Iniciar sesión</button>
                        <button class="btn btn-lg btn-outline-primary w-100 fs-6"><small>Olvidé la contraseña</small></button>
                    </div>
    
                    <div class="row text-center mt-5 no-account">
                        <a class="mx-3" href="#">¿No tienes una cuenta?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>