<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconCredits" class="icon-title"></fa-icon> Acerca de</h4>
            </div>
            <!--Información general-->
            <div class="row container-info-credits">
                <span class="mt-2">{{infoCredits}}</span>
            </div>

            <!--Desarrollada por-->
            <div class="row container-developers">
                <label class="mt-3 mb-2"><b>Desarrollada por</b></label>
                <div class="col-12 col-md-6 col-lg-3" *ngFor="let developer of arrayDevelopers">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto">
                                <img [src]="developer.profile" alt="profile-image">
                            </div>
                            <div class="mt-3">
                                <h6>{{developer.name}}</h6>
                                <p>{{developer.position}}</p>
                            </div>
                            <ul class="social-links list-inline">
                                <li class="list-inline-item"><a title="Contacto" data-placement="top"
                                        data-toggle="tooltip" class="tooltips" [href]="developer.whatsapp"
                                        target="_blank" data-original-title="Contacto"><i
                                            class="fa-brands fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a title="Mail" data-placement="top" data-toggle="tooltip"
                                        class="tooltips" [href]="developer.mail" target="_blank"
                                        data-original-title="Mail"><fa-icon [icon]="iconMail"></fa-icon></a></li>
                                <li class="list-inline-item"><a title="Linkedin" data-placement="top"
                                        data-toggle="tooltip" class="tooltips" [href]="developer.linkedin"
                                        target="_blank" data-original-title="Linkedin"><i
                                            class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dirigido por-->
            <div class="row container-professors">
                <label class="mt-3 mb-2"><b>Dirigido por</b></label>
                <div class="col-12 col-md-6 col-lg-3" *ngFor="let professor of arrayProfessors">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto">
                                <img [src]="professor.profile" alt="profile-image">
                            </div>
                            <div class="mt-3">
                                <h6>{{professor.name}}</h6>
                                <p>{{professor.position}}</p>
                            </div>
                            <ul class="social-links list-inline">
                                <li class="list-inline-item"><a title="Contacto" data-placement="top"
                                        data-toggle="tooltip" class="tooltips" [href]="professor.whatsapp"
                                        target="_blank" data-original-title="Contacto"><i
                                            class="fa-brands fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a title="Mail" data-placement="top" data-toggle="tooltip"
                                        class="tooltips" [href]="professor.mail" target="_blank"
                                        data-original-title="Mail"><fa-icon [icon]="iconMail"></fa-icon></a></li>
                                <li class="list-inline-item"><a title="Linkedin" data-placement="top"
                                        data-toggle="tooltip" class="tooltips" [href]="professor.linkedin"
                                        target="_blank" data-original-title="Linkedin"><i
                                            class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Administración-->
            <div class="row container-administration">
                <label class="mt-3 mb-2"><b>En la administración de</b></label>
                <span>Eduardo Díaz (Rector)</span>
                <span> Jenny Torres (Vicerrectora Académica)</span>
                <span>Roberto Pico (Vicerrector Administrativo)</span>
                <span>Leonardo Matute (Director de Vinculación)</span>
                <span>Washington Chiriboga (Sub-Decano)</span>
                <span>Stalin Carreño (Unidad de TIC)</span>
            </div>

            <!--Colaboración de-->
            <div class="row container-administration mt-5">
                <label class="mb-2"><b>Con la colaboración de</b></label>
                <span>Ing. Sergio Yépez</span>
                <small><i>Director de la Dirección de Gestión de Desarrollo Social</i></small>
            </div>

            <!--Más información-->
            <div class="row container-more-information mt-5">
                <label class="mb-2"><b>Para más información visite</b></label>
                <a href="https://fyc.uteq.edu.ec/" target="_blank">https://fyc.uteq.edu.ec/</a>
                <a href="https://www.facebook.com/fycuteq" target="_blank">https://www.facebook.com/fycuteq</a>
            </div>

            <!--Footer-->
            <div class="row container-info-university mt-5">
                <span>© 2023 Universidad Técnica Estatal de Quevedo</span>
                <span>Campus "Ingeniero Manuel Agustín Haz Álvarez"</span>
                <span>Av. Quito km. 1 1/2 vía a Santo Domingo de los Tsáchilas</span>
                <span>(+593) 5 3702-220 Ext. 8039</span>
                <span>Email: info@uteq.edu.ec</span>
                <span>Quevedo - Los Ríos - Ecuador</span>
                <a href="https://www.uteq.edu.ec" target="_blank">www.uteq.edu.ec</a>

            </div>
        </div>
    </div>
</body>