.btn-secondary{
    border-radius: 50px;
}

.container-videos{
    padding: 25px;
}

.play-video>iframe{
    width: 100% !important;
    height: 100% !important;
}

.suggested-videos>img{
    width: 100%;
    cursor: pointer;
}

img, iframe{
    border-radius: 7px !important;
}

.video-detail {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 7px;
    height: 370px; /* Altura fija deseada */
    overflow-y: auto; /* Si deseas que aparezca una barra de desplazamiento vertical si el contenido es demasiado largo */
}


/*-------------Responsive Web Design------------*/
@media screen and (max-width: 768px){
    .button-back{
        text-align: end;
    }

    .suggested-videos{
        margin-top: 45px;
    }
}