.btn-secondary{
    border-radius: 50px;
}

.container-videos{
    padding: 25px;
}

.play-video>iframe{
    width: 100%;
    height: 96%;
}

.suggested-videos>img{
    width: 100%;
    cursor: pointer;
}

img, iframe{
    border-radius: 7px !important;
}