<body>
    <h5><b class="divider-title">|</b> Tareas por revisar</h5>
    <div class="row">
        <div class="column">
            <ul class="mt-3">
                <li class="mb-2"><fa-icon [icon]="iconToReview"></fa-icon>&nbsp;&nbsp;Mover pies de arriba a abajo por cinco minutos y medio</li>
                <li class="mb-2"><fa-icon [icon]="iconToReview"></fa-icon>&nbsp;&nbsp;Mover manos</li>
                <li class="mb-2"><fa-icon [icon]="iconToReview"></fa-icon>&nbsp;&nbsp;Elevación de talón</li>
                <li class="mb-2"><fa-icon [icon]="iconToReview"></fa-icon>&nbsp;&nbsp;Mover brazos y codos</li>
                <li class="mb-2"><fa-icon [icon]="iconToReview"></fa-icon>&nbsp;&nbsp;Estirar piernas al pecho</li>
                <li class="mb-2"><fa-icon [icon]="iconToReview"></fa-icon>&nbsp;&nbsp;Movimientos circulares de cintura</li>
            </ul>
        </div>
    </div>
</body>