<h3><b>Bienvenido {{detailInfoTerapist.firstName}}</b></h3>
<div class="row mb-2">
    <!--Últimas tareas completadas-->
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <app-last-tasks-completed></app-last-tasks-completed>
    </div>
    <!--Estadísticas circular-->
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <circle-app-statistics></circle-app-statistics>
    </div>
</div>
<!--Videos instructivos de ayuda-->
<app-slider-videos class="mb-2" [arrayVideosDetail1]="arrayVideosDetail1" [arrayVideosDetail2]="arrayVideosDetail2"
    [carouselExample]="carouselExample1" [location]="'dashboard'"></app-slider-videos>
<br />