.password-policies{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 7px;
}

.password-policies>ul{
    list-style: none;
    margin-left: 15px;
}

.input-group-text>fa-icon{
    color: #007BBD;
}