<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="col-12 mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconPassword" class="icon-title"></fa-icon> Cambio de contraseña</h4>
            </div>

            <form [formGroup]="passwordForm">
                <!--Políticas de contraseña-->
                <div class="row mt-4 password-policies mx-1">
                    <span class="mb-3">La nueva contraseña debe cumplir con los siguientes parámetros:</span>
                    <ul>
                        <li class="mb-1"><fa-icon [icon]="iconInfoPolicies" class="icon-title"></fa-icon>
                            Al menos una letra mayúscula</li>
                        <li class="mb-1"><fa-icon [icon]="iconInfoPolicies" class="icon-title"></fa-icon>
                            Al menos un número</li>
                        <li class="mb-1"><fa-icon [icon]="iconInfoPolicies" class="icon-title"></fa-icon>
                            Mínimo 6 dígitos</li>
                        <li class="mb-1"><fa-icon [icon]="iconInfoPolicies" class="icon-title"></fa-icon>
                            La nueva contraseña no puede ser igual a la anterior</li>
                    </ul>
                </div>

                <div class="row mt-4 mx-1">
                    <!--Contraseña actual-->
                    <div class="col-12 col-md-12 mb-3">
                        <label class="mb-1"><b>Contraseña actual</b></label>
                        <input type="password" class="form-control form-control-lg bg-light fs-6"
                            formControlName="currentPassword" placeholder="Contraseña actual*" [ngClass]="{
                                'is-invalid': passwordForm.get('currentPassword')?.hasError('required') && passwordForm.get('currentPassword')?.touched || passwordForm.get('currentPassword')?.hasError('pattern'),
                                'is-valid': passwordForm.get('currentPassword')?.value?.length >=8 }" [maxlength]="10">
                        <div class="validators"
                            *ngIf="passwordForm.get('currentPassword')?.hasError('required') && passwordForm.get('currentPassword')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mx-1">
                    <!--Nueva contraseña-->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="mb-1"><b>Nueva contraseña</b></label>
                        <input type="password" class="form-control form-control-lg bg-light fs-6"
                            formControlName="newPassword" placeholder="Nueva contraseña*"
                            [ngClass]="{
                                'is-invalid': passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched || passwordForm.get('newPassword')?.hasError('pattern') || passwordForm.get('currentPassword')?.touched && newPasswordMatchesCurrent(),
                                'is-valid': passwordForm.get('newPassword')?.value?.length >=6 && passwordForm.get('newPassword')?.hasError('pattern') == false }" [maxlength]="20">
                        <div class="validators"
                            *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators" *ngIf="passwordForm.get('newPassword')?.hasError('pattern')">
                            <small>¡No cumple con los parámetros indicados!</small>
                        </div>
                        <div class="validators"
                            *ngIf="passwordForm.get('currentPassword')?.touched && newPasswordMatchesCurrent()">
                            <small>¡La nueva contraseña no puede ser igual a la anterior!</small>
                        </div>
                    </div>
                    <!--Confirmar nueva contraseña-->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="mb-1"><b>Confirmar contraseña</b></label>
                        <input type="password" class="form-control form-control-lg bg-light fs-6"
                            formControlName="confirmPassword" placeholder="Confirmar contraseña*" [ngClass]="{
                                'is-invalid': passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.value!='' && !verifyPassword(),
                                'is-valid': passwordForm.get('confirmPassword')?.value!='' && verifyPassword()
                            }" [maxlength]="20" />
                        <div class="validators"
                            *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators"
                            *ngIf="passwordForm.get('confirmPassword')?.value!='' && !verifyPassword()">
                            <small>¡Las contraseñas no coinciden!</small>
                        </div>
                    </div>
                </div>

                <div class="action-buttons mb-3">
                    <button (click)="changePassword()" [disabled]="!passwordForm.valid || newPasswordMatchesCurrent() || !verifyPassword()"
                        mat-button type="button" class="btn btn-primary btn-md">Guardar</button>
                    <button (click)="goToHome()" mat-button type="button"
                        class="btn btn-danger btn-md">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</body>