body {
    margin: 0;
    padding: 0;
}

.chat-container {
    margin: 0 auto;
    padding: 20px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.received {
    justify-content: flex-start;
}

.sent {
    justify-content: flex-end;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.received p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.sent p {
    background-color: #007BBD;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.received img {
    order: 1;
}

.sent img {
    order: 2;
}

img {
    border: 1px solid gray;
}

.content {
    margin-top: -20px;
    display: flex;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    background-color: #007BBD;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}

.chat-container{
    overflow-y: scroll;
    height: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 7px;
}