<body>
    <div class="container">
        <h5><b class="divider-title">|</b> Encuentra ayuda con IA</h5>
        <!--Mensajes-->
        <div class="row" style="padding: 15px;">
            <div class="chat-container">
                <div class="message received">
                    <div class="content">
                        <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                    </div>
                    <p>Hola, ¿cómo estás?</p>
                </div>
                <div class="message sent">
                    <p>¡Hola! Estoy bien, gracias por preguntar.</p>
                    <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                </div>
                <div class="message received">
                    <div class="content">
                        <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                    </div>
                    <p>¿En qué puedo ayudarte?</p>
                </div>
                <div class="message sent">
                    <p>Estoy buscando información sobre los pasos para registrar pacientes nuevos.</p>
                    <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                </div>
                <div class="message received">
                    <div class="content">
                        <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                    </div>
                    <p>Perfecto aquí tienes información</p>
                </div>
                <div class="message sent">
                    <p>Estoy buscando información sobre los pasos para registrar pacientes nuevos.</p>
                    <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                </div>
                <div class="message received">
                    <div class="content">
                        <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                    </div>
                    <p>Perfecto aquí tienes información</p>
                </div>
                <div class="message sent">
                    <p>Estoy buscando información sobre los pasos para registrar pacientes nuevos.</p>
                    <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                </div>
                <div class="message received">
                    <div class="content">
                        <img src="../../../../assets/pictures/user-profile.jpg" alt="User Avatar" class="avatar">
                    </div>
                    <p>Perfecto aquí tienes información</p>
                </div>
            </div>
        </div>
       
        <!--Innput para mensaje-->
        <div class="row">
            <div class="input-container mb-2">
                <input type="text" placeholder="Escribe un mensaje...">
                <button>Enviar</button>
            </div>
        </div>
    </div>
</body>