<h3><b>Bienvenido Administrador</b></h3>
<div class="row mb-2">
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <app-linear-statistics></app-linear-statistics>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <app-last-patients></app-last-patients>
    </div>
</div>
<!--Videos instructivos de ayuda-->
<app-slider-videos class="mb-2" [arrayVideosDetail1]="arrayVideosDetail1" [arrayVideosDetail2]="arrayVideosDetail2"
    [carouselExample]="carouselExample1" [location]="'dashboard'" [videoTitle]="title1">
</app-slider-videos>
