<div class="row div mx-2 mt-3">
    <div class="col-11 mt-1">
        <h4><fa-icon [icon]="iconVideoCamera"></fa-icon> Subir video</h4>
    </div>
    <div class="col-1 d-flex justify-content-end">
        <button (click)="onNoClick()" type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
</div>
  
<div mat-dialog-content>
    <app-upload-video-form [viewInModal]="true" (status)="onNoClick()"></app-upload-video-form>
</div>
<div mat-dialog-actions>
    
</div>