<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <!--SideBar-->
    <section id="sidebar">
            <a [routerLink]="'options-home'" class="brand mt-1"> <img src="../../../../../assets/logos/logo-teraflex.png" alt="img-profile">
                TeraFlex</a>
            <ul class="side-menu">
                <li>
                    <a [routerLink]="'options-home'" class="active"><fa-icon class="icon" [icon]="iconHome"></fa-icon>
                        Inicio</a>
                </li>
                <li>
                    <a><fa-icon class="icon" [icon]="iconAdministration"></fa-icon> Administración <fa-icon class="icon-right"
                            [icon]="iconArrowDown"></fa-icon></a>
                    <ul class="side-dropdown">
                        <li>
                            <a [routerLink]="'therapists'"><fa-icon class="icon" [icon]="iconTerapists"></fa-icon> 
                            Terapeutas</a>
                        </li>
                        <li>
                            <a [routerLink]="'categories'"><fa-icon class="icon" [icon]="iconCategories"></fa-icon>
                            Categorías</a>
                        </li>
                        <li>
                            <a [routerLink]="'patients'"><fa-icon class="icon" [icon]="iconPatients"></fa-icon>
                            Pacientes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="'help/tutorial-videos'"><fa-icon class="icon" [icon]="iconHelp"></fa-icon>
                        Ayuda</a>
                </li>
                <li>
                    <a [routerLink]="'credits/credits-info'"><fa-icon class="icon" [icon]="iconInformation"></fa-icon>
                        Acerca de</a>
                </li>
            </ul>
    </section>

    <!--NavBar-->
    <section id="content">
        <nav>
            <fa-icon class="toggle-sidebar" [icon]="iconBars"></fa-icon>
            <form action="#">
                <!-- <div class="form-group">
                    <input type="text" placeholder="Buscar...">
                    <fa-icon class="icon" [icon]="iconSearch"></fa-icon>
                </div> -->
            </form>
            <div class="profile d-flex">
                <img src="../../../../../assets/pictures/user-profile.jpg" alt="img-profile">
                <p class="mt-2">&nbsp;&nbsp;Administrador <fa-icon [icon]="iconArrowDown"></fa-icon></p>
                <ul class="profile-link">
                    <div class="info">
                        <p><i>Administrador</i> <br /><small>Dirección de Gestión de Desarrollo Social de Quevedo</small></p>
                    </div>
                    <hr>
                    <li><a [routerLink]="'password/change-password'"><fa-icon [icon]="iconPassword"></fa-icon> Contraseña</a></li>
                    <li><a (click)="signOut()"><fa-icon [icon]="iconLogOut"></fa-icon> Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>

        <!--Contenedor del dashboard-->
        <main>
            <router-outlet></router-outlet>
        </main>
    </section>
</body>